{% extends 'base/navbar.html'%}
{%load static%}
{% load humanize %}
{%block body%}
<script src="https://checkout.flutterwave.com/v3.js"></script>
    <!-- start #main-site -->
        <main id="main-site">

            <!-- Shopping cart section  -->
                <section id="cart" class="py-3">
                    <div class="container-fluid w-75">
                        <h5 class="font-baloo font-size-20">Shopping Cart</h5>

                        <!--  shopping cart items   -->
                            <div class="row">
                                <div class="col-sm-9">
                                    <!-- cart item -->
                                    {%for i in cart%}
                                        <div class="row border-top py-3 mt-3">
                                            <div class="col-sm-2">
                                                <img src="{{i.image.url}}" style="height: 120px;" alt="cart1" class="img-fluid">
                                            </div>
                                            <div class="col-sm-8">
                                                <h5 class="font-baloo font-size-20">{{i.name}}</h5>
                                                <small>by {{i.brand}}</small>
                                                <!-- product rating -->
                                                <div class="d-flex">
                                                    <div class="rating text-warning font-size-12">
                                                        <span><i class="fas fa-star"></i></span>
                                                        <span><i class="fas fa-star"></i></span>
                                                        <span><i class="fas fa-star"></i></span>
                                                        <span><i class="fas fa-star"></i></span>
                                                        <span><i class="far fa-star"></i></span>
                                                      </div>
                                                      <a href="#" class="px-2 font-rale font-size-14">20,534 ratings</a>
                                                </div>
                                                <!--  !product rating-->

                                                <!-- product qty -->
                                                    <div class="qty  pt-2">
                                                        <div class="d-flex font-rale w-25">
                                                            <form action="{%url 'base:quantity' i.id %}" method="post">
                                                                {% csrf_token %}

                                                                <div class="d-flex px-2">
                                                                     <label><strong>Qty</strong></label> &nbsp;&nbsp;
                                                                    <input type="number" name="in"  class="qty_input border px-2  bg-light " min="1" style="width:70px;" value="{{i.quantity}}" placeholder="1">
                                                                <button type="submit" class="qty-down border bg-light"><i class="fa fa-check"></i></button>

                                                                </div>

                                                            </form>




                                                        </div>
                                                        <a href="{% url 'base:delete_cart' i.id %}" class="btn font-baloo text-danger px-3 border-right">Delete</a>
                                                        <button type="submit" class="btn font-baloo text-danger">Save for Later</button>
                                                    </div>
                                                <!-- !product qty -->

                                            </div>

                                            <div class="col-sm-2 text-right">
                                                <div class="font-size-20 text-danger font-baloo">
                                                    &#8358;<span class="product_price">{{i.current_price|intcomma}}</span>
                                                </div>
                                            </div>
                                        </div>
                                         {%empty%}
                                    <br>

                                    <h3 class="mt-5"> You have no items in your cart kindly click start shopping button to
                                        add items to your cart

                                    </h3>
                                    <a href="{%url 'base:index' %}" class="btn btn-warning mt-5 w-100">Start shopping</a>
                                        {%endfor%}
                                    <!-- !cart item -->
                                    <!-- cart item -->

                                <!-- !cart item -->
                                </div>
                                <!-- subtotal section-->
                                <div class="col-sm-3">
                                    <div class="sub-total border text-center mt-2">
                                        <h6 class="font-size-12 font-rale text-success py-3"><i class="fas fa-check"></i> Your order is eligible for FREE Delivery.</h6>
                                        <div class="border-top py-4">
                                            <h5 class="font-baloo font-size-20">Subtotal ({{cart_total}} item):&nbsp; <span class="text-danger">&#8358;<span class="text-danger" id="deal-price">{{subtotal|intcomma}}.00</span> </span> </h5>
                                            <button type="submit" class="btn btn-warning mt-3" onclick="makePayments()">Proceed to Buy</button>
                                             <a href="{% url 'base:index'%}" class="btn btn-warning mt-5">Keep on Shopping</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- !subtotal section-->
                            </div>
                        <!--  !shopping cart items   -->
                    </div>
                </section>
            <!-- !Shopping cart section  -->

              <!-- New Phones -->
              <section id="new-phones">
                <div class="container py-5">
                  <h4 class="font-rubik font-size-20">New Phones</h4>
                  <hr>

                        <!-- owl carousel -->
                        <div class="owl-carousel owl-theme">
                            {% for i in phone %}
                          <div class="item py-2 bg-light">
                            <div class="product font-rale">
                              <a href="#"><img src="{{i.image.url}}" alt="product1" class="img-fluid"></a>
                              <div class="text-center">
                                <h6>{{i.name}}</h6>
                                <div class="rating text-warning font-size-12">
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="fas fa-star"></i></span>
                                  <span><i class="far fa-star"></i></span>
                                </div>
                                <div class="price py-2">
                                  <span>{{i.current_price|intcomma}}</span>
                                </div>
                                <button type="submit" class="btn btn-warning font-size-12">Add to Cart</button>
                              </div>
                            </div>
                          </div>
                            {%endfor%}
                                                   </div>
                        </div>
                      <!-- !owl carousel -->

                </div>
              </section>
              <!-- !New Phones -->

        </main>
    <!-- !start #main-site -->
<script>

        function makePayments() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-81e954c331f3cb6649a8153dbfee2d75-X",
      tx_ref: "titanic-48981487343MDI0NzMx",
      amount: {{subtotal}},
      currency: "NGN",
      payment_options: "card, banktransfer, ussd",
      redirect_url: "{% url 'base:successful'%}",
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{profile.email}}",
        phone_number: '{{profile.phone}}',
        name: '{{profile.username}}',
      },
      customizations: {
        title: "Shoppe Mobilee",
        description: "Fund Your Wallet",
        logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
      },
    });
  }
</script>

{%endblock%}