{% extends 'base/navbar.html' %}
{% load static %}
{% load humanize %}
{% block body%}
    <!-- start #main-site -->
        <main id="main-site">

          <!-- Owl-carousel -->
            <section id="banner-area">
              <div class="owl-carousel owl-theme">
                  <div class="item">
                    <img src="{% static 'base/images/Banner1.png'%}" alt="Banner1">
                  </div>
                  <div class="item">
                    <img src="{% static 'base/images/Banner2.png'%}" alt="Banner2">
                  </div>
                  <div class="item">
                    <img src="{% static 'base/images/Banner1.png'%}" alt="Banner3">
                  </div>
              </div>
            </section>

          <!-- !Owl-carousel -->

          <!-- Top Sale -->
          <section id="top-sale">
            <div class="container py-5">
               {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" style="padding-left:5%;" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}

              <h4 class="font-rubik font-size-20">Top Sale</h4>
              <hr>
              <!-- owl carousel -->
                <div class="owl-carousel owl-theme">
                  {% for i in top_sale %}
                  <div class="item py-2">
                    <div class="product font-rale">
                      <a href="#"><img src="{{i.image.url}}" alt="product1" class="img-fluid"></a>
                      <div class="text-center">
                        <h6>{{i.name|truncatewords:10|safe}}</h6>
                        <div class="rating text-warning font-size-12">
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price py-2">
                          <span> &#8358; {{i.current_price|intcomma}}</span>
                        </div>
                        <a href="{% url 'base:product' i.id %}" class="btn color-primary-bg font-size-12" style="color:white;">View More</a>
                      </div>
                    </div>
                  </div>
                  {%endfor%}


                </div>
              <!-- !owl carousel -->
            </div>
          </section>
        <!-- !Top Sale -->

        <!-- Special Price -->
          <section id="special-price">
            <div class="container">
              <h4 class="font-rubik font-size-20">Special Price</h4>
              <div id="filters" class="button-group text-right font-baloo font-size-16">
                <button class="btn is-checked" data-filter="*">All Brand</button>

                {% for i in brands%}
                 <button class="btn" data-filter=".{{i.brand_name}}">{{i.brand_name}}</button>

                {%endfor%}

              </div>

              <div class="grid">
                {% for i in phone %}
                <div class="grid-item {{i.brand}} border">
                 <div class="item py-2" style="width: 200px;">
                  <div class="product font-rale">
                    <a href="#"><img src="{{i.image.url}}" alt="product1" class="img-fluid"></a>
                    <div class="text-center">
                      <h6>{{i.name|truncatewords:10|safe}}</h6>
                      <div class="rating text-warning font-size-12">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="far fa-star"></i></span>
                      </div>
                      <div class="price py-2">
                        <span>&#8358; {{i.current_price|intcomma}}</span>
                      </div>
                      <a href="{% url 'base:product' i.id %}"  class="btn color-primary-bg font-size-12" style="color:white;">View More</a>
                    </div>
                  </div>
                </div>
                </div>
                {%endfor%}
              </div>

            </div>
          </section>
        <!-- !Special Price -->

        <!-- Banner Ads  -->
          <section id="banner_adds">
            <div class="container py-5 text-center">
              <img src="{% static 'base/images/banner1-cr-500x150.jpg'%}" alt="banner1" class="img-fluid">
              <img src="{% static 'base/images/banner2-cr-500x150.jpg'%}" alt="banner1" class="img-fluid">
            </div>
          </section>
        <!-- !Banner Ads  -->

          <!-- New Phones -->
          <section id="new-phones">
            <div class="container">
              <h4 class="font-rubik font-size-20">New Phones</h4>
              <hr>

                    <!-- owl carousel -->
                    <div class="owl-carousel owl-theme">
                      {% for i in new %}
                      <div class="item py-2 bg-light">
                        <div class="product font-rale">
                          <a href="#"><img src="{{ i.image.url }}" alt="product1" class="img-fluid"></a>
                          <div class="text-center">
                            <h6>{{i.name|truncatewords:10|safe}}</h6>
                            <div class="rating text-warning font-size-12">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="far fa-star"></i></span>
                            </div>
                            <div class="price py-2">
                              <span>&#8358;{{i.current_price|intcomma}}</span>
                            </div>
                            <a href="{% url 'base:product' i.id %}"  class="btn color-primary-bg font-size-12" style="color:white;">View More</a>
                          </div>
                        </div>
                      </div>
                      {%endfor%}

                      </div>
                    </div>
                  <!-- !owl carousel -->

            </div>
          </section>
          <!-- !New Phones -->

          <!-- accessory -->
          <section id="blogs">
            <div class="container py-5">
              <h4 class="font-rubik font-size-20">Accessory</h4>
              <hr>
              <!-- owl carousel -->
                <div class="owl-carousel owl-theme">
                  {% for i in top_sale %}
                  <div class="item py-2">
                    <div class="product font-rale">
                      <a href="#"><img src="{{i.image.url}}" alt="product1" class="img-fluid"></a>
                      <div class="text-center">
                        <h6>{{i.name|truncatewords:10|safe}}</h6>
                        <div class="rating text-warning font-size-12">
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="fas fa-star"></i></span>
                          <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price py-2">
                          <span> &#8358; {{i.current_price|intcomma}}</span>
                        </div>
                        <a href="{% url 'base:product' i.id %}" class="btn color-primary-bg font-size-12" style="color:white;">View More</a>
                      </div>
                    </div>
                  </div>
                  {%endfor%}


                </div>
              <!-- !owl carousel -->
            </div>
          </section>

          <!-- !accessory -->

        </main>
    <!-- !start #main-site -->
{%endblock%}

