{% extends 'base/navbar.html'%}

{% load static %}
{%block body %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
forms {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;

  margin: 8px 0px;

  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

buttons {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

buttons:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;

  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
<br>
<div class="container shadow">
<form action="{% url 'base:login' %}" class="forms" method="post">
  {% csrf_token %}
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar"  class="avatar">
  </div>


  <div class="container">
     {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" style="padding-left:5%;" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}
    <label for="uname"><b>Email</b></label>
    <input type="text" class="w-100" style="padding:20px 10px;" placeholder="Enter Email" id="uname"  name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" class="w-100" style="padding:20px 10px;" placeholder="Enter Password" id="psw" name="password" required>

    <button type="submit" class="btn btn-success mt-3" >Login</button><br/><br/>

  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span>Didn't have an account yet &nbsp;<a href="{% url 'base:signup'%}">sign Up</a></span>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
<br>

</div>




</div>

{%endblock%}