{% extends "base/navbar.html"%}
{% load static %}
{% load humanize %}
{%block body%}
 <section id="special-price">
            <div class="container">
                {% if order%}
                <div class="text-center">
                     <h3 class="pt-5">Total Goods Bought </h3>
                </div>

                <br>

               <table border="1" class="w-100" cellpadding="">

              <tr>
                  <th><h5>&nbsp;Product Image &nbsp;</h5></th>
                  <th><h5>&nbsp;Product Name&nbsp;</h5></th>
                  <th><h5>&nbsp;Price&nbsp;</h5></th>
                  <th><h5>&nbsp;Qty&nbsp;</h5></th>
                  <th><h5>&nbsp;Status&nbsp;</h5></th>
                   <th><h5>&nbsp;Brand&nbsp;</h5></th>
                  <th><h5>&nbsp;Date&nbsp;</h5></th>
                   <th><h5>&nbsp;Payment&nbsp;</h5></th>


              </tr>
              {%for i in order  %}
              <tr>
                  <td><img src="{{i.image.url}}" width="150px" height=""></td>

                   <td style="width:150px " class="pl-1">{{i.name}} &nbsp;</td>
                    <td>&nbsp;{{i.total_price|intcomma}}&nbsp;</td>
                     <td>&nbsp;{{i.quantity}}&nbsp;</td>
                     <td>&nbsp;{{i.status}}&nbsp;</td>
                     <td>&nbsp;{{i.brand}}&nbsp;</td>

              </tr>
              {%endfor%}

          </table>
                {%else%}
                <h3>OOpp you haven't bought any goods from us kindly click on the button below to start shopping </h3>
                <a href="{% url 'base:index'%}" class="btn btn-success">Start Shopping</a>
                {%endif%}
            </div>
          </section>
<br>


{%endblock%}