{% extends 'base/navbar.html' %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{%load static %}
{% block body %}
<br/><br/><br/><br/><br/><br/>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h1>Hello</h1>
<!--                  <img src="{% static 'base/images/iphone14.jpg'%}" style="">-->
                </div>


                 <div class="col-sm-12 col-md-6 col-lg-6">
                 <h1>Iphone 14 promax </h1>
                </div>





            </div>

        </div>




{%endblock%}